@import './base.css';
@import './scheme.css';
@import 'primeicons/primeicons.css';

html,
body,
#app {
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
}

.root {
  flex-grow: 1;
}

body {
  margin: 0;
  background-color: var(--p-background-colour);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Segoe UI', Arial, sans-serif;
}
