:root {
  --background-colour: var(--zinc-900);
  --input-colour: var(--zinc-500);
  --text-colour: var(--indigo-100);
  --link-text-colour: var(--indigo-500);
  --header-bg-colour: var(--indigo-950);
  --border-colour: var(--indigo-700);
  --success-colour: var(--emerald-500);
  --failure-colour: var(--rose-500);
}
body {
  color: var(--p-text-color);
}
